.footer {
  border-top: 1px solid #bebebe;
  margin-top: 300px;
}
.container .itemsFooter li,
.container .textFooter {
  color: #858585;
  margin-bottom: 15px;
  font-size: 14px;
}
.container .contactsUs ul li {
  display: flex;
  align-items: center;
  
}
.container .itemsFooter li {
  transition: 0.2s ease-in-out;
  border-radius: 15px;
  cursor: pointer;
}
.container .itemsFooter li:hover {
  color: #6318dd;
  padding-left: 10px;
}
.container .contactsUs svg {
  color: #090909;
  margin-right: 10px;
}
.container .copyright {
  border-top: 1px solid #bebebe;
}
.container .copyright p {
  text-align: center;
  color: #6318dd;
  font-size: 15px;
}
@media (min-width: 900px) {
  .footer {
    margin-top: 100px;
  }
}
